pytorch-pretrained-bert
tqdm 
boto3
requests
regex
pytorch-pretrained-bert
pytorch-nlp
sacremoses
sentencepiece
pytorch_transformers
transformers
gensim
spacy
python-box
scikit-learn
keras-preprocessing
pandas